@mixin button {
  padding: 15px 30px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

@mixin slide {
  display: flex;

  & > div {
    width: calc(40% - 60px);
    margin: 0 30px;
    height: auto;

    & > h2 {
      text-transform: uppercase;
      color: white;
      font-size: 40px;
      margin-bottom: 15px;
    }

    & > p {
      color: white;
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 28px;
    }

    & > a {
      @include button;
    }
  }

  & > img {
    width: 60%;
    height: auto;
  }
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);

  a,
  a:hover {
    text-decoration: none;
  }
}

.btn-green {
  background-color: #6fc6af;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: #61aa97;
  }
}

.btn-purple {
  background-color: #ad53a0;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: #914586;
  }
}

.btn-orange {
  background-color: #f16622;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: #d65920;
  }
}

.btn-blue {
  background-color: #46a7de;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: #3e95c4;
  }
}

.banner {
  @include slide;

  align-items: center;
  justify-content: center;

  h2 {
    font-weight: bold;
  }

  h2,
  p {
    color: #797a7e !important;
  }
}

// header
header#pageHeader {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    width: 125px;
    height: 125px;
    margin: 0 auto;
  }
}

// navbar
nav.navbar {
  background-color: rgb(55, 80, 165);
  padding: 0;
  height: 55px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    @media (min-width: 992px) {
      margin: 0 50px;
    }

    & > li {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;

      & > a {
        background-color: rgb(55, 80, 165);
        transition: background-color 0.5s ease-in-out;
        margin: 0;
        height: 55px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        @include button;

        &:hover {
          background-color: #2e4489;
        }

        &.active {
          background-color: rgb(40, 50, 127);
        }
      }
    }
  }
}

// index
#sliderWrapper {
  background-color: rgb(74, 121, 224);
  min-height: 100px;

  #welcomeCarousel {
    .carousel-indicators {
      visibility: visible;
    }

    .carousel-inner {
      .carousel-item {
        @include slide;
      }
    }
  }
}

#catalogBanner {
  background-color: rgb(67, 201, 246);
}

#catalogWrapper {
  padding: 90px 0 15px;

  .card {
    border: 0;

    & > .card-body {
      .card-title {
        color: #3952a4;
        font-size: 28px;
        font-weight: bold;
      }

      p {
        color: #7b7b7d;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 30px;
      }

      a {
        @include button;
      }
    }
  }
}

#patternWrapper {
  background: url("../img/pattern.png");
  padding: 45px 0 15px;

  h3 {
    font-size: 40px;
    color: rgb(46, 75, 160);
    text-transform: uppercase;
    font-weight: 200;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
  }

  h3::before,
  h3::after {
    display: inline-block;
    content: "";
    border-top: 5px solid rgb(26, 48, 158);
    width: calc(50% - 140px);
    margin: 0 15px;
    transform: translateY(-12px);
  }

  .card {
    border: 0;
    border-radius: 0;
    margin-bottom: 30px;

    & > .card-img-top {
      border-radius: 0;
    }

    & > .card-body {
      background-color: rgb(236, 237, 238);

      & > h4 {
        color: rgb(119, 123, 126);
        text-transform: uppercase;
        font-size: 22px;
        line-height: 30px;
        font-weight: bolder;
      }

      & > p {
        color: rgb(147, 149, 152);
        font-size: 18px;
        line-height: 24px;
      }
    }

    & > .card-footer {
      padding: 0;

      a {
        display: block;
        @include button;
      }
    }
  }
}

#middleWrapper {
  background: url("../img/middle.jpg") no-repeat top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0;

  #middleBox {
    width: 590px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);

    & > h3 {
      text-transform: uppercase;
      color: rgb(86, 90, 91);
      font-weight: bold;
    }

    & > h4 {
      font-weight: 100;
      color: rgb(86, 90, 91);
    }

    & > p {
      color: rgb(118, 123, 126);
      margin-bottom: 30px;
    }

    & > a {
      @include button;
    }
  }
}

#bottomWrapper {
  margin-top: 120px;
  margin-bottom: 120px;

  h4 {
    color: #2f99e5;
    font-size: 30px;
    font-weight: normal;
  }

  ul#bottom123 {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: calc(100% - 240px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > li {
      margin: 0;
      padding: 0;
      width: 33%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > div {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #e7f1e9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #008129;
      }

      & > p {
        width: calc(100% - 80px);
        padding: 0 15px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: start;
        color: #999;
      }
    }
  }
}

// breadcrumb
#breadCrumb {
  color: white;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    white 0%,
    #73b4dc 15%,
    #73b4dc 85%,
    white 100%
  );
  padding: 5px 0;

  a,
  span {
    color: white;
    font-size: 13px;
    font-weight: medium;
  }

  a:hover {
    text-decoration: underline;
  }

  i {
    margin: 0 5px;
  }
}

// post
#postWrapper {
  margin: 120px 0;

  h1 {
    text-align: center;
    color: #797a7e;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    margin: 0 auto 45px;

    @media (min-width: 992px) {
      width: 75%;
    }
  }

  img {
    margin-bottom: 45px;
  }

  p {
    color: #6d6e72;
    font-size: 16px;
  }
}

// product
#productWrapper {
  margin: 120px 0;

  h1 {
    text-align: left;
    color: #797a7e;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    margin: 0 auto 45px;
  }

  #productInfo {
    border-radius: 0;
    margin-bottom: 30px;

    & > .card {
      border-radius: 0;
      border: 0;

      & > .card-header {
        background-color: #40beb3;
        border-radius: 0;

        & > h2 {
          & > button {
            font-weight: bold;
            text-decoration: none;
            color: white;
            width: 100%;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      .card-body {
        & > p {
          color: gray;
          margin: 0;
        }
      }
    }
  }

  ul#marketplace {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;

    & > li {
      margin: 0 0 15px 0;
      padding: 0 30px 0 0;
      display: inline-block;
      width: 33%;

      & > a {
        margin: 0;
        padding: 0;

        & > img {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

// contact
#contactWrapper {
  margin: 120px 0;

  h1 {
    text-align: center;
    color: #f73e67;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    margin: 0 auto 15px;

    & + p {
      text-align: center;
      color: #4d4d4f;
    }
  }

  #address {
    & > h3 {
      font-size: 16px;
      font-weight: bold;
      color: #4d4d4f;
      margin-bottom: 15px;
    }

    & > p {
      font-size: 14px;
      line-height: 24px;
    }

    & > #googleMap {
      margin-top: 30px;
    }
  }

  form {
    background-color: #a6cafc;
    padding: 30px;

    label {
      color: white;
      margin: 0;
    }

    input,
    textarea,
    button {
      border-radius: 0;
    }
  }
}

// footer
footer {
  margin: 45px 0 45px;

  img#footerBrand {
    width: 125px;
    height: 125px;
    filter: grayscale(1);
    opacity: 0.25;
    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  div#footerAddress {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
  }

  ul#footerSocmed {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 125px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;

    & > li {
      display: inline;
      margin-left: 10px;

      & > a {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e8e8e8;
        color: #bfbfbf;
        text-decoration: none;
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

        &#socmedFacebook:hover {
          background-color: #3a559f;
          color: white;
        }

        &#socmedTwitter:hover {
          background-color: #50abf1;
          color: white;
        }

        &#socmedInstagram:hover {
          background-color: #c51371;
          color: white;
        }

        &#socmedLinkedin:hover {
          background-color: #0077b7;
          color: white;
        }
      }
    }
  }
}
