<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcneMED</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    {% include "./parts/_header.njk" %}

    {% include "./parts/_nav.njk" %}

    {% block content %}
    {% endblock %}

    {% include "./parts/_footer.njk" %}

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
      function setAddress() {
        var mapProp = {
          center: new google.maps.LatLng( -6.175,106.8272),
          zoom: 10,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=setAddress"></script>
  </body>
</html>
