{% extends "_layout.njk" %}

{% block content %}

<div id="catalogBanner">
  <div class="container">
    <img class="img-fluid" src="/img/catalog.png" alt=""/>
  </div>
</div>

<div id="catalogWrapper">
  <div class="container">
    <div class="row">

      {% for i in range(0, 2) -%}
      <div class="col-md-6">
        <div class="card">
          <img class="img-fluid card-img-top" src="/img/tube.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing Elit</h4>
            <p class="card-text">
            Donec nisl lacus, porttitor id eros eget, tempus tempus justo. Integer hendrerit felis quam, in feugiat augue. 
            Curabitur purus sapien, cursus nec euismod eget, elementum eu nulla. Integer malesuada sem sed est ultricies facilisis.
            </p>
            <a href"#" class="btn-green">Info Produk</a>
          </div>
        </div>
      </div>
      {%- endfor %}

    </div>
  </div>
</div>

<div id="patternWrapper">
  {% set args = {'cardNum': 4, 'cardWidth': 6, 'btnColor': 'blue'} %}
  {% include "./commons/_cards.njk" %}
</div>

{% endblock %} 
