{% extends "_layout.njk" %}

{% block content %}

<div class="container">
  <div class="banner">
    {% include "./commons/_banner.njk" %}
  </div>
</div>

<div id="patternWrapper">
  {% set args = {'cardNum': 6, 'cardWidth': 4, 'btnColor': 'purple'} %}
  {% include "./commons/_cards.njk" %}
</div>

{% endblock %} 
