{% extends "_layout.njk" %}

{% block content %}
<div id="contactWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header>
          <h1>Call Me ;-)</h1>
          <p>Vivamus ipsum nisl, laoreet non purus ac, pellentesque commodo magna.</p>
        </header>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div id="address">
          <h3>PT Lorem Ipsum Dolor Sit Amet</h3>
          <p>
            <em>Vivamus Ipsum <br/>Nisl Laoreet non Purus ac <br/>Pellentesque, Commodo 12345</em><br/>
            <strong>P: (1234) 567890</strong><br/>
            <strong>M: (1234) 567890</strong><br/>
            <strong>E: (1234) 567890</strong>
          </p>
          <div id="googleMap" class="d-block embed-responsive embed-responsive-16by9"></div>
        </div>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="inputFirstName">Nama Depan</label>
            <input type="text" class="form-control" id="inputFirstName">
          </div>
          <div class="form-group">
            <label for="inputLastName">Nama Belakang</label>
            <input type="text" class="form-control" id="inputLastName">
          </div>
          <div class="form-group">
            <label for="inputEmail">E-mail</label>
            <input type="email" class="form-control" id="inputEmail">
          </div>
          <div class="form-group">
            <label for="inputSubject">Nama Belakang</label>
            <input type="text" class="form-control" id="inputSubject">
          </div>
          <div class="form-group">
            <label for="inputMessage">Pesan</label>
            <textarea class="form-control" id="inputMessage"></textarea>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-sm btn-primary">Kirim Pesan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
