{% extends "_layout.njk" %}

{% block content %}

<div id="sliderWrapper">
  <div class="container">
    <div id="welcomeCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#welcomeCarousel" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          {% include "./commons/_banner.njk" %}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="patternWrapper">
  <div class="text-center">
    <h3>Lifestyle</h3>
  </div>
  {% set args = {'cardNum': 3, 'cardWidth': 4, 'btnColor': 'purple'} %}
  {% include "./commons/_cards.njk" %}
</div>

<div id="middleWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <div id="middleBox">
          <h3>Health</h3>
          <h4>Dari AcneMED,<br>Untuk Kamu</h4>
          <p>
            Curabitur vel scelerisque quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices mattis tempor. Integer a augue scelerisque, iaculis leo at, pretium mauris. Morbi sodales congue aliquam. In hac habitasse platea dictumst. Fusce tristique, urna vel consectetur consectetur, nulla lacus venenatis quam, vitae elementum lorem elit id orci. Pellentesque ullamcorper vestibulum ante a facilisis.
          </p>
          <a href="#" class="btn-orange">Baca Selengkapnya</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="bottomWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/img/tube.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6">
        <h4>
          Vivamus est <b>volutpat vel finibus</b> lacus nec, fermentum vel neque. Orci varius natoque penatibus.
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul id="bottom123">
          <li>
            <div>
              1
            </div>
            <p>
              Duis commodo felis at nisi luctus, ut hendrerit sem placerat.
            </p>
          </li>
          <li>
            <div>
              2
            </div>
            <p>
              Duis commodo felis at nisi luctus, ut hendrerit sem placerat.
            </p>
          </li>
          <li>
            <div>
              3
            </div>
            <p>
              Duis commodo felis at nisi luctus, ut hendrerit sem placerat.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %} 
