{% extends "_layout.njk" %}

{% block content %}
<div id="breadCrumb">
  <div class="container">
    <a href="#">LOREM</a>
    <i class="fa fa-angle-right"></i>
    <a href="#">IPSUM</a>
    <i class="fa fa-angle-right"></i>
    <span>Dolor sit Amet</span>
  </div>
</div>

<article id="postWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header>
          <h1>Lorem Ipsum Dolor sit Amet Consectetur Adipiscing elit Aenean Tempor Egestas Ullamcorper</h1>
        </header>
        <img class="img-fluid" src="/img/post.jpg" alt=""/>
        <p>
          <b>Sed egestas nisl nulla, in feugiat quam lacinia at.</b>
        </p>
        <p>
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur pellentesque dignissim mauris, non imperdiet nunc laoreet at. Fusce fermentum urna eget accumsan tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut tempor consequat congue. Aliquam nisi odio, volutpat ac ante sed, interdum iaculis felis. Nullam ac dignissim eros. Mauris lacinia feugiat magna a posuere. Morbi non eros at tellus lacinia luctus. Maecenas varius efficitur risus, sed dignissim dui elementum vitae. Suspendisse vitae mi ac lacus tristique bibendum. Nam libero justo, facilisis a accumsan quis, laoreet vitae tellus. Praesent non justo mattis, cursus elit eu, congue felis. Nunc semper iaculis facilisis. Nunc turpis tortor, dapibus quis tortor semper, pulvinar volutpat est.
        </p>
        <p>
        <b>Vivamus ipsum nisl, laoreet non purus ac, pellentesque commodo magna.</b>
        </p>
        <p>
          Donec eget feugiat arcu. Curabitur at libero et erat elementum placerat in sit amet nibh. Aenean ac augue massa. Aliquam pharetra congue neque, eu varius sem dapibus et. Cras eu feugiat leo. Nulla semper metus et massa tristique porttitor et vel mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vel turpis lectus. Phasellus consequat justo vitae accumsan tincidunt. Morbi posuere, elit ut imperdiet luctus, risus mi egestas ex, vitae molestie diam tortor sed tellus. Quisque tincidunt eros erat, nec ullamcorper urna tristique vitae. Curabitur velit elit, ornare vel auctor vitae, eleifend vel nisi. Suspendisse sed urna quam.
        </p>
      </div>
    </div>
  </div>
</article>    
{% endblock %} 
