{% extends "_layout.njk" %}

{% block content %}
<div id="breadCrumb">
  <div class="container">
    <a href="#">LOREM</a>
    <i class="fa fa-angle-right"></i>
    <a href="#">IPSUM</a>
    <i class="fa fa-angle-right"></i>
    <span>Dolor sit Amet</span>
  </div>
</div>

<article id="productWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header>
          <h1>LoremQUE+ Ipsum Dolor sit Amet</h1>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="/img/tube2.jpg" alt=""/>
      </div>
      <div class="col-md-6">
        
        <div class="accordion" id="productInfo">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                  <span>What?</span><i class="fa fa-angle-right"></i>
                </button>									
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#productInfo">
              <div class="card-body">
                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sagittis neque sit amet lacus bibendum, eu mattis nibh aliquet.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">
                  <span>Where?</span><i class="fa fa-angle-right"></i>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#productInfo">
              <div class="card-body">
                <p>Proin tristique tincidunt massa, vel pulvinar odio blandit eget. Nullam sed aliquet ante. Suspendisse viverra id dolor eu commodo.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">
                  <span>When?</span><i class="fa fa-angle-right"></i>
                </button>           
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#productInfo">
              <div class="card-body">
                <p>Aenean erat nisi, euismod in elit a, tempor placerat magna. Sed in risus rhoncus, lobortis urna eu, lacinia leo. Donec at urna egestas.</p>
              </div>
            </div>
          </div>
        </div>
        
        <ul id="marketplace">
          <li>
            <a href="#">
              <img class="img-fluid" src="/img/marketplace.jpg" alt=""/>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="img-fluid" src="/img/marketplace.jpg" alt=""/>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="img-fluid" src="/img/marketplace.jpg" alt=""/>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="img-fluid" src="/img/marketplace.jpg" alt=""/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>    
{% endblock %} 
