<footer>  
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img id="footerBrand" src="/img/logo.png"/>
      </div>
      <div class="col-md-6">
        <div id="footerAddress">
          <span>
            Duis commodo felis at nisi luctus, ut hendrerit sem.<br/>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit rutrum.<br/>
            Fusce vel nunc eu justo tempus laoreet.
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <ul id="footerSocmed">
          <li>
            <a href="#" id="socmedFacebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" id="socmedTwitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" id="socmedInstagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" id="socmedLinkedin">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
