<nav class="navbar">
  <div class="container">
    <ul>
      <li>
        <a href="/" class="active">Home</a>
      </li>
      <li>
        <a href="/category">Lifestyle</a>
      </li>
      <li>
        <a href="/category">Health</a>
      </li>
      <li>
        <a href="/catalog">Acnemed+</a>
      </li>
      <li>
        <a href="/contact">Contact+</a>
      </li>
    </ul>
  </div>
</nav>
