<div>
  <h2>Molestie et Sodales Eros</h2>
  <p>Aenean bibendum nunc odio, eget tristique erat ultrices nec. Morbi elementum a sem sit amet fermentum. Vivamus libero nisi, aliquet nec.</p>
  <a href="#" class="btn-green">Baca Selengkapnya</a>
</div>
<img src="/img/slide.jpg" class="img-fluid" alt="">
