<div class="container">
  <div class="row">

    {% for i in range(0, args.cardNum) -%}
    <div class="col-md-{{ args.cardWidth }}">
      <div class="card">
        <img class="img-fluid card-img-top" src="/img/post.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Lorem Ipsum Dolor sit Amet Consectetur Adipiscing Elit</h4>
          <p class="card-text">Donec nisl lacus, porttitor id eros eget, tempus tempus justo. Integer hendrerit felis quam, in feugiat augue.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn-{{ args.btnColor }}">Baca Selengkapnya</a>
        </div>
      </div>
    </div>
    {%- endfor %}

  </div>
</div>
